 * {
     margin: 0;
     padding: 0;
     font: Helvetica;
     letter-spacing: 0px;
     color: #354463;
 }

 header {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 2rem 0;
 }

 .header-main {
     display: flex;
     align-items: center;
     width: 70%;
 }

 .name {
     width: 30%;
     font-weight: bold;
     font-size: 1.5rem;
     line-height: 1.75rem;
     text-align: left;
 }

 .nav {
     width: 70%;
     display: flex;
     justify-content: space-around;
 }

 a {
     text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }

 .button {
     font-weight: bold;
     text-align: center;
     background-color: #C1F7D5;
     padding: 1rem;
     font-size: 1.2rem;
     border-radius: 50px;
     width: 10rem;
 }

 .button:hover {
     border: 1px solid #354463;
     cursor: pointer;
 }

 .issue {
     background-image: url('/assets/assets/home/annie-spratt-135307-unsplash3.png');
     background-size: cover;
     background-position: center;
     padding: 9rem;
     display: flex;
     gap: 9rem;
 }

 .issue-img {
     background-image: url('/assets/assets/home/stopclimatechangex.png');
     background-size: cover;
     background-position: center;
     width: 17rem;
     height: 13rem;
 }

 .issue-box {
     background-color: white;
     width: 35%;
     padding: 2rem 4rem 4rem;
 }

 .issue-desc {
     font-size: 3rem;
     font-weight: bold;
 }

 .div-head {
     background-color: #354463;
     color: white;
     width: 10rem;
     text-align: center;
     padding: .5rem;
     position: relative;
     top: -3rem;
 }

 .issue-link {
     margin-top: 2rem;
     font-size: 1.25rem;
     text-decoration: underline;
 }

 .action {
     background-color: #C1F7D5;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .action-head {
     background-color: #354463;
     color: white;
     width: 10rem;
     text-align: center;
     padding: .5rem;
     position: relative;
     top: -1rem;
 }

 .task {
     display: flex;
     gap: 6rem;
 }

 .tasks {
     width: 15rem;
     margin-bottom: 2rem;
 }

 .task-head {
     font-weight: bold;
     font-size: 1.5rem;
     line-height: 2.5rem;
 }

 .task-desc {
     font-size: 1.2rem;
 }

 .motive {
     background-color: #354463;
     padding: 5rem 9rem 6rem;
     display: flex;
     flex-direction: column;
 }

 .motive-head {
     background-color: white;
     color: #354463;
     width: 10rem;
     text-align: center;
     padding: .5rem;
 }

 .motive-desc {
     color: white;
     margin-top: 2rem;
     font-size: 3rem;
 }

 .card {
     display: flex;
     gap: 3rem;
     margin-top: 5rem;
 }

 .card-div {
     background-color: white;
     padding: 2rem;
     width: 20rem;
 }

 .card-head {
     font-weight: bold;
     font-size: 1.5rem;
     position: relative;
     top: -2rem;
 }

 .card-desc {
     font-size: 1.25rem;
     position: relative;
     top: -1rem;
 }

 .card-img1 {
     background-image: url('./assets/assets/home/tree-planting@3x.png');
     background-size: cover;
     background-position: center;
     width: 24rem;
     height: 20rem;
     position: relative;
     top: -4rem;
 }

 .card-img2 {
     background-image: url('./assets/assets/home/education-training@3x.png');
     background-size: cover;
     background-position: center;
     width: 24rem;
     height: 20rem;
     position: relative;
     top: -4rem;
 }

 .card-img3 {
     background-image: url('./assets/assets/home/advocacy@3x.png');
     background-size: cover;
     background-position: center;
     width: 24rem;
     height: 20rem;
     position: relative;
     top: -4rem;
 }

 .card-button {
     font-weight: bold;
     text-align: center;
     background-color: #C1F7D5;
     padding: 1rem;
     font-size: 1.2rem;
     border-radius: 50px;
     width: 10rem;
     margin: .25rem;
 }

 .card-button:hover {
     border: 2px solid #354463;
     cursor: pointer;
 }

 .facts {
     background-image: url('/assets/assets/home/did-you-know-background@3x.png');
     background-position: center;
     background-size: cover;
     padding: 9rem;
     display: flex;
     gap: 10rem;
 }

 .fact-img {
     background-image: url('/assets/assets/home/ClimatechangeIsahungerissue.png');
     background-size: cover;
     background-position: center;
     width: 28rem;
     height: 19rem;
     margin-bottom: 2rem;
 }

 .fact {
     background-color: white;
     width: 34rem;
     display: flex;
     justify-content: space-between;
     padding: 4rem;
     margin-bottom: 2rem;
 }

 .fact-detail {
     display: flex;
     flex-direction: column;
     gap: .5rem;
     width: 25rem;
 }

 .fact-head {
     font-size: 3rem;
     font-weight: bolder;
 }

 .icons {
     display: flex;
     flex-direction: column;
     gap: 2rem;
 }

 .icons div {
     background-color: #C1F7D5;
     border-radius: 50%;
     text-align: center;
     font-size: 1.1rem;
     padding: .3rem;
 }


 .fact-desc {
     font-size: 1.25rem;
 }

 .know {
     background-color: #354463;
     color: white;
     width: 10rem;
     text-align: center;
     padding: .5rem;
     position: relative;
     left: 4rem;
     top: 1rem;
 }

 .stories {
     padding: 9rem;
     display: flex;
     align-items: end;
 }

 .story-box {
     box-sizing: border-box;
     background-color: #354463;
     width: 36rem;
     padding: 4rem;
     margin-bottom: 4rem;
 }

 .story-div {
     box-sizing: border-box;
     position: relative;
     left: 4rem;
 }

 .story-desc {
     color: white;
     font-size: 2rem;
     margin-bottom: 2rem;
 }

 .story {
     color: white;
 }

 .story-img {
     background-image: url('/assets/assets/home/lady-baby@3x.png');
     background-position: center;
     background-size: cover;
     width: 52rem;
     height: 36rem;
 }


 .story-img div {
     background-color: #354463;
     color: white;
     width: 10rem;
     text-align: center;
     padding: .5rem;
     position: relative;
     top: -1rem;
     left: 4rem;
 }

 .event {
     background-color: #354463;
     padding: 9rem;
     display: flex;
     flex-direction: column;
     gap: 6rem;
 }

 .events {
     display: flex;
     gap: 4rem;
 }

 .event-box {
     width: 50%;
     display: flex;
     flex-direction: column;
     gap: 2rem;
 }

 .event-action {
     color: white;
     font-size: 3rem;
     font-weight: bold;
     width: 80%;
 }

 .event-desc {
     font-size: 3rem;
     color: white;
     font-weight: bold;
 }

 .event-head {
     color: #354463;
     background-color: white;
     width: 10rem;
     text-align: center;
     padding: .5rem;
 }

 .eventss {
     color: white;
     font-size: 1.2rem;
     line-height: 2rem;
 }

 .event-img1 {
     background-image: url('/assets/assets/home/tree-planting@3x.png');
     background-position: center;
     background-size: cover;
     width: 42rem;
     height: 34rem;
 }

 .event-img2 {
     background-image: url('/assets/assets/home/meeting@3x.png');
     background-position: center;
     background-size: cover;
     width: 42rem;
     height: 34rem;
 }

 .type {
     flex-direction: row-reverse;
 }

 .subscribe {
     background-color: #C1F7D5;
     box-sizing: border-box;
     padding: 4rem 9rem;
     display: flex;
     align-items: center;
     gap: 2rem;
 }

 .sub {
     width: 50%;
     font-size: 2rem;
     font-weight: bold;
 }

 .email {
     width: 30%;
     font-size: 1rem;
     border: 1px solid white;
     border-radius: 20px;
     padding: 1rem;
     outline: none;
 }

 #sub {
     color: #C1F7D5;
     background-color: #354463;
 }

 footer {
     padding: 4rem 9rem;
     box-sizing: border-box;
     display: flex;
     gap: 5rem;
 }

 .website {
     font-weight: bolder;
     font-size: 1.5rem;
 }

 .link {
     display: flex;
     gap: 3rem;
 }

 .foot {
     width: 20%;
 }

 .foot-head {
     font-weight: bold;
     margin-bottom: .5rem;
     padding-bottom: .5rem;
     border-bottom: 2px solid #354463;
 }

 .links {
     line-height: 1.5rem;
 }

 .footer-img {
     background-image: url('/assets/assets/donation/black-climate.png');
     background-position: center;
     background-size: cover;
     width: 13.5rem;
     height: 9rem;
 }




 @media (max-width: 1199px) {
     .header-main {
         flex-direction: column;
         align-items: flex-start;
         gap: 1rem;
     }

     .nav {
         justify-content: space-between;
     }
 }

 @media (max-width:768px) {

     header {
         flex-direction: column;
         gap: 1.5rem;
     }

     .header-main {
         flex-direction: row;
         width: 90%;
         justify-content: space-between;
     }

     .name {
         width: 50%;
     }

     .nav {
         width: 50%;
         flex-direction: column;
         gap: .5rem;
     }

     .button {
         width: 80%;
         font-size: 1.5rem;
         font-weight: bolder;
     }


 }