 * {
     margin: 0;
     padding: 0;
     font: Helvetica;
     letter-spacing: 0px;
     color: #354463;
 }

 header {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 2rem 0;
 }

 .header-main {
     display: flex;
     align-items: center;
     width: 70%;
 }

 .name {
     width: 30%;
     font-weight: bold;
     font-size: 1.5rem;
     line-height: 1.75rem;
     text-align: left;
 }

 .nav {
     width: 70%;
     display: flex;
     justify-content: space-around;
 }

 a {
     text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }

 .button {
     height: auto;
     font-weight: bold;
     text-align: center;
     background-color: #C1F7D5;
     padding: 1rem;
     border-radius: 50px;
 }

 .button:hover {
     border: 1px solid #354463;
     cursor: pointer;
 }

 .issue {
     background-image: url('/assets/assets/home/annie-spratt-135307-unsplash3.png');
     background-size: cover;
     background-position: center;
     padding: 9rem;
     display: flex;
     gap: 9rem;
 }

 .issue-img {
     background-image: url('/assets/assets/home/stopclimatechangex.png');
     background-size: cover;
     background-position: center;
     width: 17rem;
     height: 13rem;
 }

 .issue-box {
     background-color: white;
     width: 35%;
     padding: 2rem 4rem 4rem;
 }

 .issue-desc {
     font-size: 3rem;
     font-weight: bold;
 }

 .div-head {
     background-color: #354463;
     color: white;
     width: 10rem;
     text-align: center;
     padding: .5rem;
     position: relative;
     top: -3rem;
 }

 .issue-link {
     margin-top: 2rem;
     font-size: 1.25rem;
     text-decoration: underline;
 }

 .action {
     background-color: #C1F7D5;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .action-head {
     background-color: #354463;
     color: white;
     width: 10rem;
     text-align: center;
     padding: .5rem;
     position: relative;
     top: -1rem;
 }

 .task {
     display: flex;
     gap: 6rem;
 }

 .tasks {
     width: 15rem;
     margin-bottom: 2rem;
 }

 .task-head {
     font-weight: bold;
     font-size: 1.5rem;
     line-height: 2.5rem;
 }

 .task-desc {
     font-size: 1.2rem;
 }

 .motive {
     background-color: #354463;
     padding: 9rem;
     display: flex;
     flex-direction: column;
 }

 .motive-head {
     background-color: white;
     color: #354463;
     width: 10rem;
     text-align: center;
     padding: .5rem;
 }

 .motive-desc {
     color: white;
     margin-top: 2rem;
     font-size: 3rem;
 }

 .card {
     display: flex;
     gap: 3rem;
     margin-top: 5rem;
 }

 .card-div {
     background-color: white;
     padding: 2rem;
     width: 20rem;
 }

 .card-head {
     font-weight: bold;
     font-size: 1.5rem;
     position: relative;
     top: -2rem;
 }

 .card-desc {
     font-size: 1.25rem;
     position: relative;
     top: -1rem;
 }

 .card-img1 {
     background-image: url('./assets/assets/home/tree-planting@3x.png');
     background-size: cover;
     background-position: center;
     width: 24rem;
     height: 20rem;
     position: relative;
     top: -4rem;
 }

 .card-img2 {
     background-image: url('./assets/assets/home/education-training@3x.png');
     background-size: cover;
     background-position: center;
     width: 24rem;
     height: 20rem;
     position: relative;
     top: -4rem;
 }

 .card-img3 {
     background-image: url('./assets/assets/home/advocacy@3x.png');
     background-size: cover;
     background-position: center;
     width: 24rem;
     height: 20rem;
     position: relative;
     top: -4rem;
 }

 @media (max-width: 1199px) {
     .header-main {
         flex-direction: column;
         align-items: flex-start;
         gap: 1rem;
     }

     .nav {
         justify-content: space-between;
     }
 }

 @media (max-width:768px) {

     header {
         flex-direction: column;
         gap: 1.5rem;
     }

     .header-main {
         flex-direction: row;
         width: 90%;
         justify-content: space-between;
     }

     .name {
         width: 50%;
     }

     .nav {
         width: 50%;
         flex-direction: column;
         gap: .5rem;
     }

     .button {
         width: 80%;
         font-size: 1.5rem;
         font-weight: bolder;
     }


 }